doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Minimum Viable JavaScript Development
    link(href="./main.css" rel="stylesheet")
  body
    article#presentation
      section.markdown.title-slide
        | ## _the_
        | # Minimum Viable JS Development
        | ## _(-environment for the front end)_
        | ![Comic: The UX Designer Paradox from http://uxmag.com/content/comic-the-ux-designer-paradox](http://uxmag.com/sites/default/files/bonus-launch-toon.png)
        aside
          | # YOLO
      section.markdown
        | # Content
        | * [Problems](#3)
        | * [Basic Toolchain](#4)
        | * [Creating an NPM package](#9)
        | * [Configuring Webpack](#)
      section.markdown
        | # Problems
        | * Dependency injection
        | * Versioning
        | * ECMAScript 6.0
        | * Minification
      section.markdown
        | # Basic Toolchain
        | * Node.js
        | * [NVM (Windows)](https://github.com/coreybutler/nvm-windows)
        | * [NPM](https://npmjs.com)
        | * [Webpack](http://webpack.github.io/)
      section.markdown
        | # Tools – Node.js
        | * Asynchronous I/O with [libuv](https://github.com/libuv/libuv)
        | * 4.4 Long-Term-Support
      section.markdown
        | # Tools – NVM-Windows
        | * [Node Version Manager Windows](https://www.npmjs.com/package/nvm)
        | * [n](https://www.npmjs.com/package/n) (for *nix)
        | * Incompatibilities in Adapters
      section.markdown
        | # Tools – NPM
        | * [Node Package Manager](https://www.npmjs.com)
        | * [Dependency Management](https://docs.npmjs.com/how-npm-works/npm2)
        | * [Bower](https://bower.io/)
      section.markdown
        | # Tools – Webpack
        | * Build Tool – Module Bundler
        | * [Powerful Configuration](https://webpack.github.io/docs/configuration.html)
        | * [Rich Ecosystem](https://webpack.github.io/docs/list-of-loaders.html)
        | * [[...]](https://webpack.github.io/docs/what-is-webpack.html#how-is-webpack-different)
    script(src="./main.js")

