doctype html
html(lang="en")
  head
    title Minimum Viable JavaScript Development
    link(href="./main.css" rel="stylesheet")
  body
    article#presentation
      section.markdown
        | # Problems
        | * Dependency injection
        | * Versioning
        | * ECMAScript 6.0
        | * Minification
    script(src="./main.js")

